/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blocks-course-team-members {

	//Ensure that the + button inside the insert block is
	//displayed when a team member block is selected.
	/* stylelint-disable-next-line selector-class-pattern */
	&.block-editor-block-list__block .block-list-appender .block-list-appender__toggle {
		display: block;
	}

	display: block;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			/* stylelint-disable-next-line selector-class-pattern */
			> .block-editor-inner-blocks > .block-editor-block-list__layout > {

				[data-type="blocks-course/team-member"] {
					width: calc(100% / #{$i} - 20px);
				}

				.block-list-appender {
					align-self: stretch;
					width: calc(100% / #{$i} - 20px);
					border: 1px dashed;
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 70px;
					position: relative;
					margin-left: 10px; //align the insert box with the rest of the content
				}
			}
		}
	}
	/* stylelint-disable-next-line selector-class-pattern */
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;

		[data-type="blocks-course/team-member"] {
			max-width: none;
			margin: 0;
			padding-left: 2px;
		}

		> [data-type="blocks-course/team-member"] {
			margin: 10px;

			.block-editor-media-placeholder {
				margin-bottom: 20px;
			}

			.wp-block-blocks-course-team-member-img {
				position: relative;


				margin-bottom: 20px;

				&.is-loading img {
					opacity: 0.3;
				}

				.components-spinner {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}


			h4 {
				color: #222;
				font-size: 22px;
				font-size: bold;
				margin: 0;
			}

			p {
				color: #565656;
				font-size: 16px;
				font-weight: 300;
				margin-bottom: 5px;
				margin-top: 5px;
			}


			.wp-block-blocks-course-team-member-social-links {

				ul {
					list-style: none;
					padding: 0;
					margin: 15px -5px 0;

					li {
						display: inline-block;
						margin: 5px;

						span.dashicon {
							color: #4e4e4e;
						}

						&.is-selected {
							outline: 2px solid rgb(208, 40, 227);
						}


						button {
							background: none;
							border: none;
							padding: 0;
							cursor: pointer;
							margin: 0;
						}

						&.wp-block-blocks-course-team-member-add-icon-li {

							button {
								outline: 1px dashed;
							}
						}
					}
				}
			}


			.wp-block-blocks-course-team-member-link-form {
				background: #fff;
				border: 1px solid;
				padding: 10px;
				margin-top: 10px;
				border-radius: 3px;
			}

		}


	}
}
