.wp-block-blocks-course-team-members {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {

			.wp-block-blocks-course-team-member {
				width: calc(100% / #{$i} - 20px);
			}
		}
	}

	.wp-block-blocks-course-team-member {
		margin: 10px;


		img {
			margin-bottom: 20px;
			border-radius: 5px;
		}

		.wp-block-blocks-course-team-member-social-links {

			ul {
				list-style: none;
				padding: 0;
				margin: 15px -5px 0;

				li {
					display: inline-block;
					margin: 5px;

					a {
						text-decoration: none;
					}

					span.dashicon {
						color: #4e4e4e;
					}
				}
			}
		}

		// h4 {
		// 	color: #222;
		// 	font-size: 22px;
		// 	font-size: bold;
		// 	margin: 0;
		// }

		// p {
		// 	color: #565656;
		// 	font-size: 16px;
		// 	font-weight: 300;
		// 	margin-bottom: 5px;
		// 	margin-top: 5px;
		// }
	}
}
